body {
  background-color: #fff;
  color: #363636;

  font-size: 16px;
  line-height: 1.2em;
  width: 100%;

  font-family: sans-serif;
}


.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.masthead {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  text-align: center;
}

.byline {
  text-align: center;
}

.contained {
  max-width: 600px;
  width: 90%;
  margin: 0 auto;
}