html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #fff;
  color: #363636;

  line-height: 1.2em;
  width: 100%;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a,
a:visited {
  color: #3333EE;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

.panel {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100%;
  color: #fff;
  padding: 1em 5.555%;
}

.frame {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  top: 25%;
  left: 0%;
  padding: 0 5.555%;
  text-align: center;
}

.icon-large {
  font-size: 3em;
}

.icon-active {
  color: #fff;
}

.icon-active:hover {
  color: #3333EE;
  cursor: pointer;
  text-decoration: none;
}


#intro {
  background: #7B8FC2;

  background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 55%, rgba(0,0,0,0.15) 85%, rgba(0,0,0,0.15) 100%), #7B8FC2; /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(55%,rgba(0,0,0,0)), color-stop(85%,rgba(0,0,0,0.15)), color-stop(100%,rgba(0,0,0,0.15))), #7B8FC2; /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 55%,rgba(0,0,0,0.15) 85%,rgba(0,0,0,0.15) 100%), #7B8FC2; /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 55%,rgba(0,0,0,0.15) 85%,rgba(0,0,0,0.15) 100%), #7B8FC2; /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 55%,rgba(0,0,0,0.15) 85%,rgba(0,0,0,0.15) 100%), #7B8FC2; /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 55%,rgba(0,0,0,0.15) 85%,rgba(0,0,0,0.15) 100%), #7B8FC2; /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#26000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.headline {
  display: inline-block;
  margin: 0;
  padding: 0.5em 0 0;
  line-height: 1.5;
  text-align: center;
}

.headline > p {
  font-size: 1.5em;
  font-weight: 100;
  margin: 0 4px 0;
  text-align: left;
  line-height: 0.5;
}

.headline > .title {
  font-size: 5em;
  font-weight: 300;
  line-height: 1;
  margin: 0;
}

.byline {
  font-size: 1.75em;
  font-weight: 100;
  margin: 0.5em 0 1em;
  text-align: center;
  letter-spacing: 0.05em;
  line-height: 1.1;
}

.tagline {
  display: none;
  font-size: 2.5em;
  line-height: 1.2;
  font-weight: 100;
  margin-top: 2em;
  /*text-align: left;*/
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.logo-rushline {
  display: inline-block;
  margin-bottom: 1em;
  vertical-align: bottom;
}


@media screen and (min-width: 640px) {
  .tagline {
    display: block;
  }
}

#features {
  background: #1AC6D9;
  background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 55%, rgba(0,0,0,0.15) 85%, rgba(0,0,0,0.15) 100%), #1AC6D9; /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(55%,rgba(0,0,0,0)), color-stop(85%,rgba(0,0,0,0.15)), color-stop(100%,rgba(0,0,0,0.15))), #1AC6D9; /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 55%,rgba(0,0,0,0.15) 85%,rgba(0,0,0,0.15) 100%), #1AC6D9; /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 55%,rgba(0,0,0,0.15) 85%,rgba(0,0,0,0.15) 100%), #1AC6D9; /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 55%,rgba(0,0,0,0.15) 85%,rgba(0,0,0,0.15) 100%), #1AC6D9; /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 55%,rgba(0,0,0,0.15) 85%,rgba(0,0,0,0.15) 100%), #1AC6D9; /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#26000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#workflow {
  background: #1AD993;
  background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 55%, rgba(0,0,0,0.15) 85%, rgba(0,0,0,0.15) 100%), #1AD993; /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(55%,rgba(0,0,0,0)), color-stop(85%,rgba(0,0,0,0.15)), color-stop(100%,rgba(0,0,0,0.15))), #1AD993; /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 55%,rgba(0,0,0,0.15) 85%,rgba(0,0,0,0.15) 100%), #1AD993; /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 55%,rgba(0,0,0,0.15) 85%,rgba(0,0,0,0.15) 100%), #1AD993; /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 55%,rgba(0,0,0,0.15) 85%,rgba(0,0,0,0.15) 100%), #1AD993; /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 55%,rgba(0,0,0,0.15) 85%,rgba(0,0,0,0.15) 100%), #1AD993; /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#26000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#about {
  color: #363636;
  background: #F2E966;
  background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 55%, rgba(0,0,0,0.15) 85%, rgba(0,0,0,0.15) 100%), #F2E966; /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(55%,rgba(0,0,0,0)), color-stop(85%,rgba(0,0,0,0.15)), color-stop(100%,rgba(0,0,0,0.15))), #F2E966; /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 55%,rgba(0,0,0,0.15) 85%,rgba(0,0,0,0.15) 100%), #F2E966; /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 55%,rgba(0,0,0,0.15) 85%,rgba(0,0,0,0.15) 100%), #F2E966; /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 55%,rgba(0,0,0,0.15) 85%,rgba(0,0,0,0.15) 100%), #F2E966; /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 55%,rgba(0,0,0,0.15) 85%,rgba(0,0,0,0.15) 100%), #F2E966; /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#26000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#stats {
  background: #F78B54;
  background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 55%, rgba(0,0,0,0.15) 85%, rgba(0,0,0,0.15) 100%), #F78B54; /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(55%,rgba(0,0,0,0)), color-stop(85%,rgba(0,0,0,0.15)), color-stop(100%,rgba(0,0,0,0.15))), #F78B54; /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 55%,rgba(0,0,0,0.15) 85%,rgba(0,0,0,0.15) 100%), #F78B54; /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 55%,rgba(0,0,0,0.15) 85%,rgba(0,0,0,0.15) 100%), #F78B54; /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 55%,rgba(0,0,0,0.15) 85%,rgba(0,0,0,0.15) 100%), #F78B54; /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 55%,rgba(0,0,0,0.15) 85%,rgba(0,0,0,0.15) 100%), #F78B54; /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#26000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#contact {
  color: #363636;
  background: #fffcf5;
  background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 55%, rgba(0,0,0,0.15) 85%, rgba(0,0,0,0.15) 100%), #fffcf5; /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(55%,rgba(0,0,0,0)), color-stop(85%,rgba(0,0,0,0.15)), color-stop(100%,rgba(0,0,0,0.15))), #fffcf5; /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 55%,rgba(0,0,0,0.15) 85%,rgba(0,0,0,0.15) 100%), #fffcf5; /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 55%,rgba(0,0,0,0.15) 85%,rgba(0,0,0,0.15) 100%), #fffcf5; /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 55%,rgba(0,0,0,0.15) 85%,rgba(0,0,0,0.15) 100%), #fffcf5; /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 55%,rgba(0,0,0,0.15) 85%,rgba(0,0,0,0.15) 100%), #fffcf5; /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#26000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.menu {
  margin: 0;
  padding: 2em 0 1em;
  list-style-type: none;
  text-align: center;
}

.menu > li {
  /*display: inline-block;*/
  margin: 0.5em;
}



.list > li {
  margin: 1em 0;
}

.list-icons {
  position: relative;
  list-style-type: none;
  margin: 1.75em 0;
  padding: 0;
}

.list-icons > li {
  box-sizing: border-box;
  width: 100%;
}

.list-icons > li > [class^='icon-'] {
  display: inline-block;
  width: 9%;
  font-size: 28px;
  margin: 1px 0 0;
  vertical-align: top;
}

.list-icons > li > .icon-mobile-phone {
  font-size: 42px;
  margin: -2px 0 0;
}

.list-icons > li > p {
  display: inline-block;
  width: 85%;
  margin: 0;
}

.bullet {
  box-sizing: border-box;
  display: inline-block;
  width: 85%;
  padding-left: 0.5em;
}
.bullet-point {
  margin: 0 0 -0.35em;
  font-size: 1.2em;
}

@media screen and (min-width: 768px) {
  .menu > li {
    display: inline-block;
  }
}