body {
  background-color: #fff;
  color: #363636;

  font-size: 16px;
  line-height: 1.2em;
  width: 100%;

  font-family: sans-serif;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.masthead {
  width: 90%;
  max-width: 1200px;
}

.masthead h1 {
  text-align: center;
}

.byline {
  text-align: center;
}